.card
  .card-block
    .row
      .col-md-1
        = gravatar_for message.user
      .col-md-11
        .card-text
          %span
            .text-muted
              = "#{message.user.name} at #{message.created_at} Says"
              = message.body
